.button {
    -fx-background-color: #c8e6c9;
    -fx-text-fill: black;
    -fx-border-color: #388e3c;
    -fx-border-width: 2;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
}

.menu-button {
    -fx-background-color: #c8e6c9;
    -fx-text-fill: black;
    -fx-border-color: #388e3c;
    -fx-border-width: 2;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
}

AnchorPane {
    -fx-background-color: #a5d6a7;
}